@model IEnumerable<ItemSellTask.Models.Category>

@{
    ViewData["Title"] = "Index";
    int idno = 1;
}

<div class="row mt-5">
    <div class="col-md-12 d-flex">
        <div class="card card-table flex-fill">
            <div class="card-header">
                <h4 class="card-title float-left mt-2">Category List</h4>
                <a asp-action="Create" class="btn btn-primary float-right veiwbutton"><i class="fa fa-plus" aria-hidden="true"></i> Create Category</a>
            </div>
            <div class="card-body m-4">
                <div class="table-responsive">
                    <table class="table table-hover table-center" id="categoryTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @idno
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td class="text-end">
                                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" aria-hidden="true"></i> Edit</a> |
                                        <a class="delete-button btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                                    </td>
                                </tr>
                                idno += 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#categoryTable').DataTable();
        })
    </script>
}
